:root {
    --primary-bg: rgb(5, 15, 29);
    --primary-text: rgb(7, 159, 7);
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
}

.react-terminal-wrapper {
    background-color: var(--primary-bg) !important;
    color: var(--primary-text) !important;
}

.toast-message {
    background-color: black;
    color: white;
}